@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Fira Code", monospace;
  background: #1e1e1e;
  color: #d4d4d4;
  overflow: auto;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rc-editor {
  width: 90%;
  max-width: 1000px;
  min-height: 400px;
  height: 70%;
}

input {
  padding: 8px;
}

button {
  padding: 4px 8px;
}
